.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #f4f4f4;
}

.content-area {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 20px; /* Added padding */
}

/* Styles specific to charts container */
.charts-container {
  display: flex;
  justify-content: space-between; /* Space out children */
  flex-wrap: wrap; /* Allow wrapping on small screens */
  margin: 20px 0;
}

/* Targeting specific chart components */
.sentiment-pie-chart, .word-cloud {
  flex-basis: 48%; /* Set a base width for each chart */
  max-width: 48%; /* Maximum width to maintain side-by-side layout */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Responsive design adjustments for smaller screens */
@media (max-width: 768px) {
  .sentiment-pie-chart, .word-cloud {
    flex-basis: 100%; /* Full width for smaller screens */
    max-width: 100%;
  }
}
