.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #f4f4f4;
}


.content-area {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 20px;
}

.bottom-spacer {
  height: 10000px;
}

.charts-container, .analysis-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.sentiment-pie-chart, .word-cloud, .top-words-chart, .comments-table-container {
  flex-basis: 40%;
  max-width: 40%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .sentiment-pie-chart, .word-cloud, .top-words-chart, .comments-table-container {
    flex-basis: 100%;
    max-width: 100%;
  }
}
