.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will push the content area and text input form apart */
  align-items: center;
  height: 100vh; /* Adjust if needed to fit the entire height of the viewport */
  padding: 0;
  margin: 0;
  background: #f4f4f4;
}


.content-area {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 20px;
}

.bottom-spacer {
  height: 10000px; /* Adjust this value as needed */
}


/* Styles for charts and analysis container */
.charts-container, .analysis-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}


/* Adjust the width of each component in the charts and analysis container */
.sentiment-pie-chart, .word-cloud, .top-words-chart, .comments-table-container {
  flex-basis: 40%;
  max-width: 40%;
  box-sizing: border-box;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .sentiment-pie-chart, .word-cloud, .top-words-chart, .comments-table-container {
    flex-basis: 100%;
    max-width: 100%;
  }
}
